





h2{
  padding-right: 0rem;
  height: 3rem;
  text-shadow: 2px 2px 5px rgb(238, 160, 160);
  width: 100%;
  box-shadow: 10px 2px #ffdfdf;
 margin-top: 1rem;
}

.SearchIcon{
 display: flex;

}
.icon{
  margin-top: 0;
  width: 2rem;
  height: 2rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img{
  margin-top: 2rem;
  margin-left: 0.5rem;
  flex-wrap: nowrap;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-direction: column;
}



input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
 height: 2rem;
  border-radius: 1px;
  margin-Left: 0rem;
  border-Radius:5px;
  width:100rem;
  font-Size:1.2rem;
  border: none;
  outline: none;
border-bottom: 1px solid #8a8a8a
  
 
}


